@charset "utf-8";

body {
    background-image: url(../images/midori.png);
}

.header {
    &__title {
        text-align: center;
        margin: 50px auto;
        text-shadow: #fff 1px 1px;
    }
}

.main {
    .vs {
        position: relative;
        font-size: 30px;
        color: #fff;

        .v {
            top: -4px;
            left: -20px;
            position: absolute;
        }

        .s {
            top: 4px;
            left: 0px;
            position: absolute;
        }
    }

    .card {
        position: relative;
        width: 300px;
        height: 400px;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 9px;

        &__back {
            position: absolute;
            width: 280px;
            height: 380px;
            margin-top: 10px;
            margin-left: 10px;
            background-image: url(../images/toranpu.png);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
        }

        &__back2 {
            position: absolute;
            width: 280px;
            height: 380px;
            margin-top: 10px;
            margin-left: 10px;
            background-image: url(../images/toranpu.png);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
        }


        &__list {
            position: relative;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &__form {
            position: absolute;
            bottom: -60px;

            label {
                color: #fff;
            }
        }

        .kirikae {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
        }

        .randam {
            position: absolute;
            bottom: -58px;
            opacity: 0;
        }

        &__text {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 60px;
            text-align: center;
        }

        &__text2 {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 60px;
            text-align: center;
        }

        &__suu__all {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        .win__or__lose {
            margin-top: 70px;
            font-size: 40px;
            text-align: center;
        }

        .win__or__lose2 {
            margin-top: 70px;
            font-size: 40px;
            text-align: center;
        }

        &__tenki {
            width: 80px;

            img {
                position: absolute;
                top: 10px;
                left: 10px;
                margin-left: auto;
                margin-right: auto;
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
            }

            &__bottom {
                transform: rotateX(180deg);
                position: absolute;
                bottom: 10px;
                right: 10px;
                margin-left: auto;
                margin-right: auto;
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
            }
        }

        &__tenki2 {
            width: 80px;

            img {
                position: absolute;
                top: 10px;
                left: 10px;
                margin-left: auto;
                margin-right: auto;
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
            }

            &__bottom {
                transform: rotateX(180deg);
                position: absolute;
                bottom: 10px;
                right: 10px;
                margin-left: auto;
                margin-right: auto;
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
            }
        }
    }

    .weather_Btn {
        position: absolute;
        bottom: -60px;
        font-size: 20px;
        left: 50%;
        border-radius: 5px;
        transform: translateX(-50%);
        z-index: 30;

        &__ri {
            position: absolute;
            bottom: -140px;
            left: 50%;
            border-radius: 5px;
            transform: translateX(-50%);
        }
    }


}